$primary-color: #8D53D3;
$secondary-color: #FF79DA;
$green-color: #99E2D0;
$green-font-color: #008766;
$white-color: #FFFFFF;
$black-color: #101010;
$grey-color: #353535;
$grey2-color: #EAEAEA;
$color-gradient: linear-gradient(to top, $primary-color, $secondary-color);